<div class="auth">
  <mat-card *ngIf="!authorized" class="auth-card">
    <mat-card-content>
      <mat-form-field id="useramne-form-field" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput id="useramne-input" type="text" [(ngModel)]="username">
      </mat-form-field>
      <br>
      <mat-form-field id="password-form-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput id="password-input" type="password" [(ngModel)]="password">
      </mat-form-field>
      <br>
      <button mat-raised-button id="login-button" color="primary" class="login-button" (click)="onLogin()">Login</button>
    </mat-card-content>
  </mat-card>
</div>