<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Cart</mat-panel-title>
    <mat-panel-description>Select products</mat-panel-description>
  </mat-expansion-panel-header>
  <div *ngFor="let recipe of recipes | selected:true; trackBy: trackBy">
    <mat-divider></mat-divider>
    <div class="recipe-container">
      <div class="recipe-header">
        <div class="recipe-name">{{recipe.name}}</div>
        <mat-form-field appearance="fill" class="recipe-portions">
          <mat-label>Portions</mat-label>
          <input matInput type="number" min="1" [(ngModel)]="recipe.portions" (change)="onChangePortions()">
        </mat-form-field>
      </div>
      <div class="recipe-products">
        <mat-selection-list #productsList (selectionChange)="onSelectionChange($event)">
          <mat-list-option *ngFor="let product of recipe.products | sortSelected:'ASC'" [(selected)]="product.selected">
            {{product.name}}: {{product | quantity:recipe.portions }}{{product.unit}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  </div>
</mat-expansion-panel>