.recipe-container {

    .recipe-header {
        .recipe-name {
            display: inline;
            font-size: 20px;
        }

        .recipe-portions {
            float: right;
            width: 80px;
        }
    }

    .recipe-products {}

}