<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Cart</mat-panel-title>
  </mat-expansion-panel-header>
  <div *ngFor="let recipe of recipes | selected:true; trackBy: trackBy ">
    {{recipe.name}}
    <mat-form-field appearance="fill">
      <mat-label>Portions</mat-label>
      <input matInput type="number" [(ngModel)]="recipe.portions" (change)="onChangePortions()">
    </mat-form-field>

    <mat-selection-list #productsList (selectionChange)="onSelectionChange($event)">
      <mat-list-option *ngFor="let product of recipe.products" [(selected)]="product.selected">
        {{product.name}}: {{product | quantity:recipe.portions }}{{product.unit}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</mat-expansion-panel>