.recipe-container {

    .recipe-header {
        .recipe-name {
            display: inline;
            font-size: 20px;
        }

        .recipe-portions {
            float: right;
            width: 80px;
        }
    }

    .recipe-products {
        .product-data-base {
            display: inline-block;
        }

        .product-data-owned {
            margin-left: 2px;
            width: 80px;
        }

        .product-data-summary {
            margin-left: 2px;
        }

        .toogle-owned {
            float: right;
        }

        .menu {
            display: none;
        }

        .mat-mdc-list-item {
            height: 70px;
        }

    }

}

@media (max-width: 680px) {
    .recipe-container {

        .recipe-products {
            .menu {
                display: inherit;
                float: right;
            }

            .toogle-owned {
                display: none;
            }

        }

    }

}