.container {
    .description-container {
        .description {
            white-space: pre-wrap;
            color: white;
        }
    }
    .image-container {
        .image {
            max-width: 100%
        }
    }
}