<h2 mat-dialog-title i18n="recipe-details@@recipe-details">Details</h2>
<mat-dialog-content>
    <div class="container">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title i18n="products@@products">Products</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="products" *ngIf="recipe.products">
                <mat-list role="list">
                    <mat-list-item role="listitem"
                        *ngFor="let product of recipe.products">{{product.name}}: {{product.quantity.base}}{{product.unit}} </mat-list-item>
                </mat-list>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title i18n="description@@description">Description</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="description-container" *ngIf="recipe.details.description">
                <div class="description">
                    {{ recipe.details.description }}
                </div>
            </div>
            <div class="url-container" *ngIf="recipe.details.url">
                <a [href]="recipe.details.url" i18n="page@@page">Page</a>
            </div>
            <div class="image-container" *ngIf="recipe.details.imageUrl">
                <img class="image" [src]="recipe.details.imageUrl" />
            </div>
        </mat-expansion-panel>
    </div>
</mat-dialog-content>


<mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close i18n="close@@close">Close</button>
</mat-dialog-actions>