<div class="content-container">
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="searchValue">
  </mat-form-field>
  <button mat-raised-button color="primary" action-element www-element (click)="onAddRecipe()">Add recipe</button>
  <button mat-icon-button [matMenuTriggerFor]="recipeMenu" action-element mobile-element>
    <mat-icon>more_vert</mat-icon>
  </button>

  <div *ngFor="let recipe of recipes | search:searchValue | sortSelected:'DESC'; trackBy: recipeTrackBy"
    class="list-item" (click)="onItemClick($event, recipe)">
    <mat-checkbox [ngModel]="recipe.selected" (click)="onItemClick($event, recipe)"></mat-checkbox>
    <span class="recipe-name">{{recipe.name}}</span>

    <button mat-icon-button action-element mobile-element [matMenuTriggerFor]="productMenu" [matMenuTriggerData]="{recipe: recipe}"
      (click)="$event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>

    <button mat-raised-button color="primary" action-element bordered-element www-element
      (click)="onModify($event, recipe?.name)">Modify</button>
    <button mat-raised-button color="primary" action-element bordered-element www-element
      (click)="onDelete($event, recipe?.name)">Delete</button>

  </div>
</div>

<mat-menu #recipeMenu="matMenu">
  <button mat-menu-item (click)="onAddRecipe()">Add recipe</button>
</mat-menu>

<mat-menu #productMenu="matMenu">
  <ng-template matMenuContent let-recipe="recipe" let-i="i" let-event="event">
    <button mat-menu-item color="primary" (click)="onModify(event, recipe?.name)">Modify</button>
    <button mat-menu-item color="primary" (click)="onDelete(event, recipe?.name)">Delete</button>
  </ng-template>
</mat-menu>