.recipe-name {
    max-width: 45%;
}

.add-recipe {
    float: right;
}

.delete-recipe {
    float: right;
}

.modify-recipe {
    float: right;
}

.menu {
    display: none;
}

@media (max-width: 680px) {
    .menu {
        display: inherit;
        float: right;
    }

    .add-recipe {
        display: none;
    }

    .delete-recipe {
        display: none;
    }

    .modify-recipe {
        display: none;
    }
}