<div *ngIf="summary.products.length > 0">
  <div class="summary-container">
    <div class="summary-header">
      <div class="summary-name" i18n="summary@@summary">Summary</div>
    </div>
    <div class="summary-products">
      <div *ngFor="let product of summary.products" class="list-item">
        <mat-checkbox (click)="onItemClick($event, product)"></mat-checkbox>
        <span class="summary-product-name unselectable">{{product.name}}:</span>
        <span class="summary-product-value unselectable">{{product.value}}{{product.unit}}</span>
      </div>
    </div>
  </div>
</div>