
<rm-authorization *ngIf="!authorized" (login)="onLogin($event)"></rm-authorization>
<mat-card *ngIf="authorized">
    <mat-card-header>
      <mat-card-title>
        <mat-icon aria-hidden="false" aria-label="Refresh" fontIcon="refresh" (click)="onRefresh()">Refresh</mat-icon>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
<rm-recipes *ngIf="authorized" [recipes]="recipes" (recipeSelected)="onRecipeSelected($event)"></rm-recipes>
<rm-cart *ngIf="authorized" [recipes]="recipes" (productChanged)="onProductChanged($event)"></rm-cart>

<div id="footer" class="footer">
    Recipes Manager 1.1.0 powered by Angular 17 and Atlas MongoDb
</div>