<h2 mat-dialog-title>Add recipe?</h2>
<mat-dialog-content>

    <div class="container">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="recipe.name">
        </mat-form-field>
        <button mat-raised-button color="primary" class="add-product" (click)="onAddProduct()">Add product</button>
    </div>
    <div class="products-container">
        <div *ngFor="let product of recipe.products; index as i">
            <mat-form-field appearance="fill">
                <mat-label>Product name</mat-label>
                <input matInput type="text" [(ngModel)]="product.name">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Product quantity</mat-label>
                <input matInput type="number" [(ngModel)]="product.quantity.base">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Unit</mat-label>
                <mat-select [(value)]="product.unit">
                  @for (unit of units; track unit) {
                    <mat-option [value]="unit">{{unit}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            <button mat-raised-button color="primary" class="add-quantity" (click)="onAddQuantityPerProduct(i)">Add quantity</button>
            <br>
            <span *ngFor="let item of product.quantity.portions | keyvalue">
                Key: {{item.key}}, Value: {{item.value}} <br>
            </span>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="recipe">Add</button>
</mat-dialog-actions>