.container {
    .header {
        .recipe-name {
            width: 100%;
        }

    }

    .details {
        .notes {
            width: 100%;
        }

        .tags {
            width: 100%;
        }

        .description {
            width: 100%;
        }

        .image-url {
            width: 100%;
        }

        .url {
            width: 100%;
        }
    }

    .content {

        .add-product-button {
            margin-bottom: 8px;
        }

        .item {
            margin-right: 5px;
        }

        .product-name {
            width: 300px;
        }

        .product-tag {
            width: 300px;
        }

        .product-base-quantity {
            width: 100px;
        }

        .product-unit {
            width: 80px;
        }
    }
}