.container {
    .header {
        .recipe-name {
            width: 250px;
        }
        
        .notes-value {
            width: 80px;
        }

    }

    .content {
        height: 45px;

        .product-name {
            width: 300px;
        }

        .product-base-quantity {
            width: 100px;
        }

        .product-unit {
            width: 80px;
        }
    }
}
