button[mobile-element] {
    display: none;
}

button[www-element] {
    display: unset;
}

mat-icon[mobile-element] {
    display: none;
}

mat-icon[www-element] {
    display: unset;
}

mat-slide-toggle[mobile-element] {
    display: none;
}

mat-slide-toggle[www-element] {
    display: unset;
}

span[mobile-element] {
    display: none;
}

span[www-element] {
    display: unset;
}

mat-icon[mobile-element] {
    display: none;
}

mat-icon[www-element] {
    display: unset;
}

button[action-element] {
    float: right;
}

button[bordered-element] {
    margin-top: 5px;
    margin-right: 5px;
}

@media (max-width: 890px) {
    button[mobile-element] {
        display: unset;
    }

    button[www-element] {
        display: none;
    }

    mat-icon[mobile-element] {
        display: unset;
    }

    mat-icon[www-element] {
        display: none;
    }
    
    mat-slide-toggle[mobile-element] {
        display: unset;
    }

    mat-slide-toggle[www-element] {
        display: none;
    }

    span[mobile-element] {
        display: unset;
    }

    span[www-element] {
        display: none;
    }

    mat-icon[mobile-element] {
        display: unset;
    }

    mat-icon[www-element] {
        display: none;
    }

}